*{
    margin: 0;
    font-family: Arial;
    border:border-box;

}

.navbar{
    min-height: 55px;
    width: 100%;
    background: #131921;
    color: white;
    display: flex;
    justify-content:space-evenly ;
    position: relative;
}
/*logo styling*/

.nav-logo img{
     height: 35px;
     width: 100px;
     margin-top: 10px;
     cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
}

.logo-1{
    margin: 0px;
    padding-left: 5px;

}

.border {
    border: 1.5px solid transparent;
}

.border:hover{

border:1.5px solid  white;
}




/* Location Styling */
.nav-location {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    padding-top: 5px;
}
.location-text {
    margin-left: 5px;
    padding-top: 15px;
}
.line-1 {
    font-size: 11px;
    color: #cccccc;
    display: block;
}


.line-2 {
    font-size: 12px;
    font-weight: 700;  
}


 .nav-search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 40px;
   min-width: auto; 
    border-radius: 4px;
    overflow: hidden;
    margin: 0 20px;
    padding-top: 8px;  

}

.nav-search :hover{

    border: 1.4px solid orange;
}

.search-input {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    width:100%;

}

.search-icon {
   width: 50px;
   color: #131921;
   display: flex;
   justify-content: center; 
   align-items: center;
   font-size: 1.2rem;
   background-color: #febd69;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   padding-left: 4px;
   padding-right: 4px;

}



.search-select {
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    font-size: x-small;
}


.search-input {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 16px;
}

/* Right Section Actions */
.nav-right {
    display: flex;
    align-items: center;
}

 .nav-cart {
    padding: px;
    cursor: pointer;
    border: 1px solid transparent;
     margin-left: 20px;
    margin-right: 8px;
}



.nav-cart{
     margin-left: 20px;
    margin-right: 8px;
}
.flag{
    height: 20px;
    width: 25px;
    padding-bottom: 10px;
    margin-left: 0%;
}
.nav-signin{

   
   margin-right: 8px;
   margin-top: 5px;
   padding-top: 4px;
}

.nav-order{

  
   margin-top: 5px;
   padding-top: 4px;
}
 .nav-lang {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
   
 }

span {
    font-size: 0.7rem;
     
}

.nav-second {
font-size: 0.95rem;
font-weight: 700;
}


/* Cart Specifics */
.nav-cart {
    display: flex;
    align-items: center;
    padding-right: 4px;
}

.cart-icon {
    position: relative;

}

.cart-count {
    position: absolute;
    top: -8px;
    left: 10px;
    color: var(--amazon-orange);
    font-weight: bold;
    font-size: 16px;
}

.fa-cart-shopping {
    font-size: 24px;
}

/*SUB NAVBAR*/

.sub-navbar{
    height:35px;
    width:100%;
    background-color: #232F3E;
    display: flex; 
    color:whitesmoke;
    
}

.panel-opt{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-left: 9px;
    
    
}

.opt-1 , .opt-2 , .opt-3 , .opt-4 , .opt-5 , .op-6{
    font-family: inherit;
    font-size: smaller;
    padding: 8px 7px;    
     
}
 
.p-1{
    padding-left: 0px;
}
 
.nav-item{
    align-items: center;
    margin-left: 10px;

}

.hamburger-icon{
    font-size:  18px;
    align-items: center;
}
 
.bold-text {
    font-weight:500;
    font-size: small;
}

.container-1{
    background-image: url(assests/51H+qSYvguL._SX1500_.jpg);
    background-size: cover;
    height:280px;
    width: 100%;
}
.shop-section-1{
    background-color:whitesmoke;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.box{
    border:1.3px solid black;
    height:380px;
    width:280px;
    margin-top:30px;
    background-color: white; 
    
    flex: wrap;

}
.mini-box{
    display: flex;
    padding-top: 8px;
}
.p{
    padding-top: 3px;
    font-size: x-small;
}
.p-2{
    margin-top:-14px;
    margin-left: 130px;
}

.see-more{
    margin-top: 30px;
    color: #2162A1;
    font-size: medium;
    
}

h2{
    font-family: inherit;
    font-size :medium;
    font-weight: 700;
    margin-top: 15px;
    padding-left : 20px
}

img{
    height: 100px;
    width: 100px;
    padding-top: 15px;
   margin-left: 28px;
}

p{
    font-family: inherit;
    font-size: small;
    padding-left: 28px;
}

.shop-section-2{
    background-color:rgb(251, 253, 241);
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.box{
    border:1.3px solid black;
    height:380px;
    width:290px;
    margin-top:30px;
    background-color: white; 
    flex: wrap;
}

.box-2{
    border:1.3px solid black;
    height:380px;
    width:290px;
    margin-top:30px;
    background-color: white; 
    flex: wrap;
    align-items: center;
}
.img-4{
    height:260px ;
    width: 250px;
    margin-left: 14px;

}







/* Slider Section Styling */
.slider-section {
    background-color: white;
    padding: 20px;
    
}

.slider-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 10px;
}

/* The "Window" */
.slider-container {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
    -ms-overflow-style: none; /* Hides scrollbar for IE/Edge */
}

.slider-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome/Safari */
}

/* The "Track" */
.slider-track {
    display: flex;
    gap: 15px;
    padding: 10px;
    /* Optional: helps with mobile feel */
    scroll-snap-type: x mandatory; 
}

/* Individual Product Styling */
.product-card {
    flex: 0 0 auto; /* Prevents images from shrinking */
    width: 180px;
    background: #fff;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain; /* Keeps image proportions correct */
}