*{
    margin: 0;
    font-family: Arial;
    border:border-box;

}

.navbar{
    height: 62px;
    background: #131921;
    color: white;
    display: flex;
    justify-content:space-evenly ;
}
/*logo styling*/

.nav-logo img{
     height: 35px;
     width: 100px;
     margin-top: 10px;
     cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
}

.logo{
    background-image:url("assests/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width :150%;
}
.border {
    border: 1.5px solid transparent;
}

.border:hover{

border:1.5px solid  white;
}




/* Location Styling */
.nav-location {
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
    padding-top: 5px;
}
.location-text {
    margin-left: 5px;
    padding-top: 15px;
}
.line-1 {
    font-size: 11px;
    color: #cccccc;
    display: block;
}


.line-2 {
    font-size: 12px;
    font-weight: 700;  
}


 .nav-search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 40px;
    width:auto;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 20px;
    padding-top: 12px;  

}

.nav-search :hover{

    border: 1.4px solid orange;
}

.search-input {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    width:100%;

}

.search-icon {
   width: 50px;
   color: #131921;
   display: flex;
   justify-content: center; 
   align-items: center;
   font-size: 1.2rem;
   background-color: #febd69;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   padding-left: 4px;
   padding-right: 4px;

}



.search-select {
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    font-size: x-small;
}


.search-input {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 16px;
}

/* Right Section Actions */
.nav-right {
    display: flex;
    align-items: center;
}

.nav-lang, .nav-cart {
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
}

.nav-cart{
     margin-left: 20px;
    margin-right: 8px;
}
.nav-signin{

   margin-left: 20px;
   margin-right: 8px;
   margin-top: 8px;
   padding-top: 4px;
}

.nav-order{

   margin-left: 10px;
   margin-top: 8px;
   padding-top: 4px;
}
 .nav-lang {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
   
 }

span {
    font-size: 0.7rem;
     
}

.nav-second {
font-size: 0.95rem;
font-weight: 700;
}


/* Cart Specifics */
.nav-cart {
    display: flex;
    align-items: center;
}

.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    left: 10px;
    color: var(--amazon-orange);
    font-weight: bold;
    font-size: 16px;
}

.fa-cart-shopping {
    font-size: 24px;
}

/*SUB NAVBAR*/

.sub-navbar{
    height:35px;
    width:100%;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    color:whitesmoke;
    
}
.panel-opt{
    display: flex; 
    margin-left: 0;
}
.panel-opt{
    margin-left: 10px;
    align-items: center;
}

.opt-1{
    font-family: inherit;
    font-size: smaller;
     margin-right: 9px;
     padding:8px 5px;
     
}
 
.opt-2{
    font-family: inherit;
    font-size: smaller;
    margin-right: 9px;
     padding:8px 5px;
}
 
.opt-3{
    font-family: inherit;
    font-size: smaller;
     margin-right: 9px;
      padding:8px 5px;
}
 
.opt-4{
    font-family: inherit;
    font-size: smaller;
    margin-right: 9px;
     padding:8px 5px;
}
 
.opt-5{
    font-family: inherit;
    font-size: smaller;
     margin-right: 9px;
     
}

.opt-6{
    font-family: inherit;
    font-size: smaller;
    margin-right: 9px;
     padding:8px 5px;
}

 
.nav-item{
    align-items: center;
    margin-left: 10px;

}

.hamburger-icon{
    font-size:  18px;
    align-items: center;
}
 
.bold-text {
    font-weight:500;
    font-size: small;
}

